/* src/components/InputField.css */
.input-field {
  margin: 10px 0;
  text-align: left;
  width: 100%;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #F8F8FF;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #C5C6C7;
  background-color: #1A1A1A;
  color: #F8F8FF;
}

.input:focus {
  outline: none;
  border-color: #00F0FF;
}
